<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oilfieldapps.allspark.snvcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oilfieldapps.allspark.snvcalculator.PumpOutput"
            android:parentActivityName="com.oilfieldapps.allspark.snvcalculator.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oilfieldapps.allspark.snvcalculator.MainActivity" />
        </activity>
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.menus.PumpOutputMenu" />
        <activity
            android:name="com.oilfieldapps.allspark.snvcalculator.SandV_Free"
            android:parentActivityName="com.oilfieldapps.allspark.snvcalculator.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oilfieldapps.allspark.snvcalculator.MainActivity" />
        </activity>
        <activity
            android:name="com.oilfieldapps.allspark.snvcalculator.SandV_Free_results"
            android:parentActivityName="com.oilfieldapps.allspark.snvcalculator.SandV_Free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oilfieldapps.allspark.snvcalculator.SandV_Free" />
        </activity>
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.menus.SNV_Menu" />
        <activity
            android:name="com.oilfieldapps.allspark.snvcalculator.AnnularVelocity"
            android:parentActivityName="com.oilfieldapps.allspark.snvcalculator.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oilfieldapps.allspark.snvcalculator.MainActivity" />
        </activity>
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.menus.AV_Menu" />
        <activity
            android:name="com.oilfieldapps.allspark.snvcalculator.Tanks_Volume"
            android:parentActivityName="com.oilfieldapps.allspark.snvcalculator.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oilfieldapps.allspark.snvcalculator.MainActivity" />
        </activity>
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.menus.TankVol_Menu" />
        <activity android:name="com.oilfieldapps.allspark.snvcalculator.SNV_HowToActivity"></activity>
    </application>

</manifest>